* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  direction: rtl;
  font-family: 'Vazir';
  width: 100%;
  height: 100vh;
  background-color: aqua !important;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}