* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  direction: rtl;
  font-family: 'Vazir';
  background: #eee9da !important;
}

.section-center ul li{
  width: 30%;
  box-shadow: 1px 1px 10px 1px #bdcdd6!important;
  margin: 20px;
  background: #6096b4 !important;
}

.section-center ul li img{
  width: 85%;
  height: 20vw;
  margin: 10px 0;
}

@media screen and (max-width :992px){
  .section-center ul li{
    width: 50%;
  }
}


.btn-categories:focus{
  outline: 1px solid #c00 !important;
}