@font-face {
  font-family: 'Yekan';
  src: url('../public/fonts/Yekan.eot')format('eot'),
    url('../public/fonts/Yekan.ttf') format('truetype'),
    url('../public/fonts/Yekan.woff2') format('woff2'),
    url('../public/fonts/Yekan.woff') format('woff');

}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  direction: rtl;
  font-family: 'Yekan';
  overflow-x: hidden;
}